.content {
    display: grid;
    grid-template-columns: auto 83%;
    text-align: initial;
}

.content_left {
    width: auto;
    z-index: 1;
    background-color: #90ee90;
    overflow-x: hidden;
    padding-top: 20px;
}
.content_left button {
    width: 100%;
    background-color: black;
    padding: 2px 5px 0px 16px;
    text-decoration: none;
    font-size: 15px;
    color:  #138e12;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.content_left button i{
    padding-left:0px;
    padding-top: 5px;
    float: right;
    display: contents;
}

.content_left_crop button {
    width: auto;
}
.content_right_crop{
    display: inline-flex;
}
.cropInfo, .cropImg{
    padding: 15px;
}