{% extends 'base.html' %}
{% load static %}
{% block contentxyz %}
		<div class="blog">
			<div class="container">
				<div class="blog-main">
					<div class="col-md-8 blog-main-left">
						<h3>BLOG</h3>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href="single.html"><img src="{% static 'images/ape.jpg' %}" alt=""></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>VULPUTATE VITAE DIGNISSIM</h5>
								<span>by <a href="#">user</a> on 09 july 2014   <a href="#">  comments&nbsp;(2)</a></span>
								<p>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque fermentum pretium.</p>
								<div class="blog-btn">
									<a href="single.html">Read More</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href="single.html"><img src="{% static 'images/vt.jpg' %}" alt=""></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>VULPUTATE VITAE DIGNISSIM</h5>
								<span>by <a href="#">user</a> on 09 july 2014   <a href="#">  comments&nbsp;(2)</a></span>
								<p>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque fermentum pretium.</p>
								<div class="blog-btn">
									<a href="single.html">Read More</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href="single.html"><img src="{% static 'images/gp.jpg' %}" alt=""></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>VULPUTATE VITAE DIGNISSIM</h5>
								<span>by <a href="#">user</a> on 09 july 2014   <a href="#">  comments&nbsp;(2)</a></span>
								<p>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque fermentum pretium.</p>
								<div class="blog-btn">
									<a href="single.html">Read More</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4 blog-main-left">
						<h3>CATEGORIES</h3>
						<div class="ctgry">
						<ul>
							<li><a href="#">Nulla consectetur adipiscing metus</a></li>
							<li><a href="#">purus vitae varius sagittis</a></li>
							<li><a href="#">Epsum factorial non deposit quid</a></li>
							<li><a href="#">Donec eu elit in nisi placerat</a></li>
							<li><a href="#">Curabitur congue eros ac turpis</a></li>
						</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
{% endblock %}