{% extends 'base.html' %}
{% load static %}
{% block title %}
Detail
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/detail/detail.css' %}?{% now "U" %}">
{% endblock %}
{% block body_content %}
    <div class="content">
        <div class="content_left">
            <button  class="crop" >Land <i class="fa fa-caret-down"></i></button>
            <div  id="crops" class="content_left_crop crop" style="display: none">
                <button  class="crop" >Land 2 <i class="fa fa-caret-down"></i></button>
                <div  id="crops" class="content_left_crop crop" style="display: none;margin-left: 20px">
                    {% for i in crops %}
                    <button onclick="loadDoc('crop/'+{{ i.pk }})">{{ i.name.title }}</button>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="content_right">
            hello
            <p id="demo"></p>
        </div>
    </div>
    <script src="{% static 'js/detail/detail.js' %}"></script>
{% endblock %}