html,body{
    height: 100%;
}
*{
    margin: 0%;
    padding: 0%;
}
.mainbody{
    display: grid;
    grid-template-rows: auto auto;
}
.mainbody_header h2{
    margin-top: 20px;
    text-align: center;
    margin-right: 200px;
}
.mainbody_header ul{
    position: inherit;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.mainbody_header ul li{
    display: inline-block;
    padding: 10px;
    border:solid black 2px;
}
.mainbody_header ul li a{
    text-decoration: none;
}
.mainbody_header{
    background-color: aqua;
}
.mainbody_body{
    background-image: url('../images/body_bg_2.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;

}