.Student{
    display: inline-block;
}
.mainbody_body{
    background-color: #447e9b;
}
.content_body{
    display: grid;
    grid-template-columns: auto auto auto;
}
.content_body div{
    padding: 10px;
}
.content_body a{
    text-decoration: none;
    color:black
}
.mainbody_body{
    background: #ffffff;
}